@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/View_layout.cshtml";
}
<div class="card_body">
    <div class="card_head">
        <div class="card__img">
            <img src="https://nhadepso.com/wp-content/uploads/2023/01/anh-dai-dien-cho-nam_2.jpg"
                 alt="img" />
        </div>
        <h3 class="card_title">Nguyễn Hữu Phong</h3>
        <p class="card_birth">10/02/2002</p>
        <div class="card__social">
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <button class="card_btn">Contact Me</button>
    </div>
    <div class="card_head">
        <div class="card__img">
            <img src="https://toigingiuvedep.vn/wp-content/uploads/2021/05/avatar-nam-dep-chat.jpg"
                 alt="img" />
        </div>
        <h3 class="card_title">Nguyễn Lê Huy</h3>
        <p class="card_birth">01/01/2002</p>
        <div class="card__social">
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <button class="card_btn">Contact Me</button>
    </div>
    <div class="card_head">
        <div class="card__img">
            <img src="https://haycafe.vn/wp-content/uploads/2021/12/hinh-anh-avatar-dep-cho-con-gai-dai-dien-Facebook-Zalo-Tiktok.jpg"
                 alt="img" />
        </div>
        <h3 class="card_title">Nguyễn Thị Phương Nhung</h3>
        <p class="card_birth">12/05/2002</p>
        <div class="card__social">
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <button class="card_btn">Contact Me</button>
    </div>
</div>
